/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
/* tailwind commmon css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* local font-family */
@layer base {
  @font-face {
    font-family: 'Styrene-A-Web-regular';
    font-weight: 400;
    font-style: normal;
    src: url(/assets/fonts/styrene/StyreneAWeb-Regular.woff2) format('woff2');
  }  
  @font-face {
    font-family: 'Styrene-A-Web';
    font-weight: 500;
    font-style: normal;
    src: url(/assets/fonts/styrene/StyreneAWeb-Medium.woff2) format('woff2');
  }  
  @font-face {
    font-family: 'Styrene-A-Web-bold';
    font-weight: bold;
    font-style: normal;
    src: url(/assets/fonts/styrene/StyreneAWeb-Bold.woff2) format('woff2');
  }
}

nav .nav-active svg path{
  @apply fill-primary;
  fill-opacity: 1; 
}
nav li a:hover svg path{
  @apply fill-primary; 
  fill-opacity: 1; 
}

.pie-graph-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.legend {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-basis: 69%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  /* width: 49%; */
  width: auto;
}

.legend-color {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}

.legend-label {
 @apply font-styrene-medium font-medium text-sm leading-[125%];
}

.legend-value {
  @apply w-min border border-[#ddd] rounded-[5px] py-1 px-2 relative bg-white;
}
.legend-value .arrow{
  position: absolute;
  top: 50%;
  left: -11px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 7px solid #ddd; /* Change color as needed */
}

.chart {
  width: 100%;
  height: 200px;
}

.delta-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delta.positive .arrow {
  transform: rotate(180deg);
}

.label {
  color: #999;
  font-size: 14px;
}

.description {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.footer {
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  cursor: pointer;
}

.arrow {
  font-weight: bold;
  margin-left: 4px;
}