/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
/* tailwind commmon css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* local font-family */
@layer base {
  @font-face {
    font-family: 'Styrene-A-Web';
    font-weight: 500;
    font-style: normal;
    src: url(/src/assets/fonts/styrene/StyreneAWeb-Medium.woff2) format('woff2');
  }
}

nav .nav-active svg path{
  @apply fill-primary;
  fill-opacity: 1; 
}
nav li a:hover svg path{
  @apply fill-primary; 
  fill-opacity: 1; 
}