/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Styrene-A-Web';
    font-weight: 500;
    font-style: normal;
    src: url(/src/assets/fonts/styrene/StyreneAWeb-Medium.woff2) format('woff2');
  }
}
